body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.f-boxes {
  float: left;
  width: 100%;
}

.f-box {
  float: left;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  cursor: default;
}
